@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    padding: 20px;
}


.calculator {
    height: 90vh;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    width: 100%;
    max-width: 360px;
}


input {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 38px;
    text-align: right;
    color: #fff;
}


input::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

.row {
    display: flex;
    justify-content: space-between;
}


button {
    border: none;
    width: 22%;
    /* auto fits 4 buttons */
    aspect-ratio: 1/1;
    /* keeps perfect circle on all screens */
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    cursor: pointer;
}


.operator {
    color: #6dee0a;
}


.equalBtn {
    background-color: #fb7c14;
}


@media (max-width: 400px) {
    input {
        font-size: 30px;
        padding: 15px;
    }

    button {
        font-size: 18px;
    }
}